extensions:
    admin: Dravencms\Admin\DI\AdminExtension

services:
    routeFactory.Admin: Dravencms\Admin\RouteFactory
    route:
        setup:
            - addRouteFactory(@routeFactory.Admin)


nettrine.orm.annotations:
    mapping:
        Dravencms\Model\Admin: %appDir%/../vendor/dravencms/admin/src/Dravencms/Model/Admin

webloader:
    css:
        admin:
            files:
                - admin/bower_components/bootstrap/dist/css/bootstrap.min.css
                - admin/bower_components/font-awesome/css/font-awesome.min.css
                - admin/css/pixel-admin.min.css
                - admin/css/pages.min.css
                - admin/css/typeahead.css
                - admin/css/rtl.min.css
                - admin/css/themes.min.css
                - admin/css/custom.css
                - admin/bower_components/dropzone/dist/min/dropzone.min.css
                - admin/bower_components/happy/dist/happy.css
                - admin/bower_components/ublaboo-datagrid/assets/dist/datagrid.css
                - admin/bower_components/ublaboo-datagrid/assets/dist/datagrid-spinners.css
                - admin/bower_components/blueimp-gallery/css/blueimp-gallery.min.css
                - admin/bower_components/blueimp-bootstrap-image-gallery/css/bootstrap-image-gallery.min.css
                - admin/bower_components/summernote/dist/summernote.css
                - admin/bower_components/select2/dist/css/select2.css
                - admin/bower_components/morris.js/morris.css
                - admin/css/select2-bootstrap.css
                - admin/bower_components/pace/themes/blue/pace-theme-minimal.css
                - admin/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css
                - admin/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css
                - admin/bower_components/flag-icon-css/css/flag-icon.css
                - admin/bower_components/codemirror/lib/codemirror.css
                - admin/css/widgets.scss
                - admin/css/pixeladmin.scss
                - admin/css/style.scss
            filters:
                #- @cssMin
            fileFilters:
                - @wlCssFilter
                - @sassFilter

    js:
        admin:
            files:
                - admin/js/tools.js
                - admin/bower_components/moment/min/moment.min.js
                - admin/bower_components/jquery/dist/jquery.min.js
                - admin/bower_components/jquery-maskedinput/dist/jquery.maskedinput.min.js
                - admin/bower_components/bootstrap/dist/js/bootstrap.min.js
                - admin/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js
                - admin/bower_components/bootstrap-daterangepicker/daterangepicker.js
                - admin/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js
                - admin/bower_components/typeahead.js/dist/typeahead.bundle.min.js
                - admin/bower_components/nette-forms/src/assets/netteForms.js
                - admin/bower_components/nette.ajax.js/nette.ajax.js
                - admin/bower_components/happy/dist/happy.js
                - admin/bower_components/jquery-ui-sortable/jquery-ui-sortable.js
                - admin/bower_components/ublaboo-datagrid/assets/dist/datagrid.js
                - admin/bower_components/ublaboo-datagrid/assets/dist/datagrid-spinners.js
                - admin/bower_components/blueimp-gallery/js/jquery.blueimp-gallery.min.js
                - admin/bower_components/blueimp-bootstrap-image-gallery/js/bootstrap-image-gallery.min.js
                - admin/bower_components/summernote/dist/summernote.min.js
                - admin/js/files-plugin.js
                - admin/js/layout-editor.js
                - admin/js/file-selector.js
                - admin/bower_components/pace/pace.min.js
                - admin/bower_components/select2/dist/js/select2.min.js
                - admin/bower_components/dropzone/dist/min/dropzone.min.js
                - admin/js/dropzone-fix.js
                - admin/bower_components/raphael/raphael.min.js
                - admin/bower_components/morris.js/morris.min.js
                - admin/bower_components/codemirror/lib/codemirror.js
                - admin/bower_components/codemirror/mode/xml/xml.js
                - admin/bower_components/codemirror/mode/javascript/javascript.js
                - admin/bower_components/codemirror/mode/css/css.js
                - admin/bower_components/codemirror/mode/htmlmixed/htmlmixed.js
                - admin/bower_components/jquery-slimscroll/jquery.slimscroll.min.js
                - admin/js/menu.js
                - admin/js/main.js

            fileFilters:
                #- @jsMin