<ul class="breadcrumb breadcrumb-page">
    <div class="breadcrumb-label text-light-gray">{_"admin.component.breadcrumb.YouAreHere"}: </div>
    {if $homepage}
        <li><a href="{plink $homepage->getPresenter().':'.$homepage->getAction() (expand)$homepage->getParameters()}">{_"admin.component.breadcrumb.Home"}</a></li>
    {else}
        <li><a href="{plink :Admin:Homepage:Homepage:}">{_"admin.component.breadcrumb.Home"}</a></li>
    {/if}

    <li n:foreach="$breadcrumbs AS $breadcrumb" {if $thisPage == $breadcrumb} class="active"{/if}>
        {if $thisPage == $breadcrumb}
            {$breadcrumb->getName()}
        {else}
            <a{if !$breadcrumb->getChildren()} href="{plink $breadcrumb->getPresenter().':'.$breadcrumb->getAction()}" {/if}>
                {$breadcrumb->getName()}
            </a>
        {/if}
    </li>

</ul>


